.dhls-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 48px
}

.dhls-container .font-medium {
  font-weight: 400;
  font-family: TWK Lausanne EDS
}

.accordion-column-wrapper :is(.absolute) {
  position: absolute
}

.accordion-column-wrapper :is(.relative) {
  position: relative
}

.accordion-column-wrapper :is(.right-0) {
  right: 0px
}

.accordion-column-wrapper :is(.rotate-0) {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-column-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-column-wrapper :is(.\!m-0) {
  margin: 0px !important
}

.accordion-column-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.accordion-column-wrapper :is(.my-0) {
  margin-top: 0px;
  margin-bottom: 0px
}

.accordion-column-wrapper :is(.mr-12) {
  margin-right: 3rem
}

.accordion-column-wrapper :is(.block) {
  display: block
}

.accordion-column-wrapper :is(.flex) {
  display: flex
}

.accordion-column-wrapper :is(.grid) {
  display: grid
}

.accordion-column-wrapper :is(.hidden) {
  display: none
}

.accordion-column-wrapper :is(.h-6) {
  height: 1.5rem
}

.accordion-column-wrapper :is(.w-6) {
  width: 1.5rem
}

.accordion-column-wrapper :is(.w-full) {
  width: 100%
}

.accordion-column-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.accordion-column-wrapper :is(.grid-rows-\[0fr\]) {
  grid-template-rows: 0fr
}

.accordion-column-wrapper :is(.flex-col) {
  flex-direction: column
}

.accordion-column-wrapper :is(.items-center) {
  align-items: center
}

.accordion-column-wrapper :is(.justify-between) {
  justify-content: space-between
}

.accordion-column-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.accordion-column-wrapper :is(.gap-x-5) {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem
}

.accordion-column-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.accordion-column-wrapper :is(.border-t) {
  border-top-width: 1px
}

.accordion-column-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.accordion-column-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.accordion-column-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.accordion-column-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.accordion-column-wrapper :is(.fill-current) {
  fill: currentColor
}

.accordion-column-wrapper :is(.\!p-0) {
  padding: 0px !important
}

.accordion-column-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.accordion-column-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.accordion-column-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.accordion-column-wrapper :is(.text-left) {
  text-align: left
}

.accordion-column-wrapper :is(.\!text-\[32px\]) {
  font-size: 32px !important
}

.accordion-column-wrapper :is(.\!text-xl) {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.accordion-column-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.accordion-column-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.accordion-column-wrapper :is(.font-bold) {
  font-weight: 700
}

.accordion-column-wrapper :is(.font-extralight) {
  font-weight: 200
}

.accordion-column-wrapper :is(.font-medium) {
  font-weight: 500
}

.accordion-column-wrapper :is(.font-semibold) {
  font-weight: 700
}

.accordion-column-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.accordion-column-wrapper :is(.\!text-black) {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important
}

.accordion-column-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.accordion-column-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.accordion-column-wrapper :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.accordion-column-wrapper :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.accordion-column-wrapper :is(.\!underline) {
  text-decoration-line: underline !important
}

.accordion-column-wrapper :is(.underline) {
  text-decoration-line: underline
}

.accordion-column-wrapper :is(.\!decoration-danaherpurple-500) {
  text-decoration-color: #7523FF !important
}

.accordion-column-wrapper :is(.decoration-black) {
  text-decoration-color: #000
}

.accordion-column-wrapper :is(.opacity-0) {
  opacity: 0
}

.accordion-column-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.accordion-column-wrapper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.accordion-column-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.accordion-column-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.accordion-column-wrapper :is(.hover\:bg-danaherpurple-25:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(245 239 255 / var(--tw-bg-opacity))
}

.accordion-column-wrapper :is(.hover\:bg-danaherpurple-500:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.accordion-column-wrapper :is(.hover\:\!text-white:hover) {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important
}

.accordion-column-wrapper :is(.hover\:text-danaherpurple-500:hover) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.accordion-column-wrapper :is(.hover\:decoration-danaherpurple-500:hover) {
  text-decoration-color: #7523FF
}

.accordion-column-wrapper :is(.peer:checked ~ .peer-checked\:grid-rows-\[1fr\]) {
  grid-template-rows: 1fr
}

.accordion-column-wrapper :is(.peer:checked ~ .peer-checked\:py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.accordion-column-wrapper :is(.peer:checked ~ .peer-checked\:opacity-100) {
  opacity: 1
}

.accordion-column-wrapper :is(.peer ~ .peer-\[\&_span\.minus\]\:rotate-90 span.minus) {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-column-wrapper :is(.peer ~ .peer-\[\&_span\.minus\]\:opacity-0 span.minus) {
  opacity: 0
}

.accordion-column-wrapper :is(.peer ~ .peer-\[\&_span\.plus\]\:opacity-100 span.plus) {
  opacity: 1
}

@media (min-width: 768px) {
  .accordion-column-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }
}

@media (min-width: 1024px) {
  .accordion-column-wrapper :is(.lg\:w-\[400px\]) {
    width: 400px
  }

  .accordion-column-wrapper :is(.lg\:w-\[840px\]) {
    width: 840px
  }

  .accordion-column-wrapper :is(.lg\:flex-row) {
    flex-direction: row
  }

  .accordion-column-wrapper :is(.lg\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

.accordion-column-wrapper :is(.peer:checked ~ .peer-checked\:\[\&_span\.minus\]\:rotate-180 span.minus) {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-column-wrapper :is(.peer:checked ~ .peer-checked\:\[\&_span\.minus\]\:opacity-100 span.minus) {
  opacity: 1
}

.accordion-column-wrapper :is(.peer:checked ~ .peer-checked\:\[\&_span\.plus\]\:rotate-45 span.plus) {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-column-wrapper :is(.peer:checked ~ .peer-checked\:\[\&_span\.plus\]\:opacity-0 span.plus) {
  opacity: 0
}

.accordion-column-wrapper :is(.\[\&_svg\>use\]\:stroke-black svg>use) {
  stroke: #000
}