.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

@media (min-width: 1760px) {
  .container {
    max-width: 1760px
  }
}

.dhls-container .font-medium {
  font-weight: 400;
  font-family: TWK Lausanne EDS
}

.pdp-description-wrapper :is(.order-1) {
  order: 1
}

.pdp-description-wrapper :is(.order-2) {
  order: 2
}

.pdp-description-wrapper :is(.my-3) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.pdp-description-wrapper :is(.\!mr-5) {
  margin-right: 1.25rem !important
}

.pdp-description-wrapper :is(.block) {
  display: block
}

.pdp-description-wrapper :is(.flex) {
  display: flex
}

.pdp-description-wrapper :is(.grid) {
  display: grid
}

.pdp-description-wrapper :is(.h-\[499px\]) {
  height: 499px
}

.pdp-description-wrapper :is(.w-full) {
  width: 100%
}

.pdp-description-wrapper :is(.w-auto) {
  width: auto
}

.pdp-description-wrapper :is(.items-start) {
  align-items: flex-start
}

.pdp-description-wrapper :is(.items-center) {
  align-items: center
}

.pdp-description-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.pdp-description-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.pdp-description-wrapper :is(.justify-center) {
  justify-content: center
}

.pdp-description-wrapper :is(.gap-12) {
  gap: 3rem
}

.pdp-description-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.pdp-description-wrapper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.pdp-description-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.pdp-description-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.pdp-description-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.pdp-description-wrapper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.pdp-description-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pdp-description-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pdp-description-wrapper :is(.\!pb-6) {
  padding-bottom: 1.5rem !important
}

.pdp-description-wrapper :is(.text-left) {
  text-align: left
}

.pdp-description-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.pdp-description-wrapper :is(.font-medium) {
  font-weight: 500
}

.pdp-description-wrapper :is(.leading-8) {
  line-height: 2rem
}

.pdp-description-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .pdp-description-wrapper :is(.md\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .pdp-description-wrapper :is(.lg\:h-\[499px\]) {
    height: 499px
  }

  .pdp-description-wrapper :is(.lg\:max-h-\[499px\]) {
    max-height: 499px
  }
}