.container {
  width: 100%
}

.\!container {
  width: 100% !important
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }

  .\!container {
    max-width: 640px !important
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }

  .\!container {
    max-width: 768px !important
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }

  .\!container {
    max-width: 1024px !important
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }

  .\!container {
    max-width: 1280px !important
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }

  .\!container {
    max-width: 1536px !important
  }
}

@media (min-width: 1760px) {
  .container {
    max-width: 1760px
  }

  .\!container {
    max-width: 1760px !important
  }
}

.dhls-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 48px
}

.dhls-container .font-medium {
  font-weight: 400;
  font-family: TWK Lausanne EDS
}

.pdp-description-wrapper :is(.order-1) {
  order: 1
}

.pdp-description-wrapper :is(.order-2) {
  order: 2
}

.pdp-description-wrapper :is(.\!m-2) {
  margin: 0.5rem !important
}

.pdp-description-wrapper :is(.\!m-0) {
  margin: 0px !important
}

.pdp-description-wrapper :is(.my-3) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.pdp-description-wrapper :is(.\!my-2) {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important
}

.pdp-description-wrapper :is(.\!mr-5) {
  margin-right: 1.25rem !important
}

.pdp-description-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.pdp-description-wrapper :is(.ml-3) {
  margin-left: 0.75rem
}

.pdp-description-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.pdp-description-wrapper :is(.mt-6) {
  margin-top: 1.5rem
}

.pdp-description-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.pdp-description-wrapper :is(.ml-6) {
  margin-left: 1.5rem
}

.pdp-description-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.pdp-description-wrapper :is(.mb-1) {
  margin-bottom: 0.25rem
}

.pdp-description-wrapper :is(.\!mb-2) {
  margin-bottom: 0.5rem !important
}

.pdp-description-wrapper :is(.\!mt-0) {
  margin-top: 0px !important
}

.pdp-description-wrapper :is(.\!ml-0) {
  margin-left: 0px !important
}

.pdp-description-wrapper :is(.block) {
  display: block
}

.pdp-description-wrapper :is(.flex) {
  display: flex
}

.pdp-description-wrapper :is(.grid) {
  display: grid
}

.pdp-description-wrapper :is(.w-full) {
  width: 100%
}

.pdp-description-wrapper :is(.list-disc) {
  list-style-type: disc
}

.pdp-description-wrapper :is(.flex-col) {
  flex-direction: column
}

.pdp-description-wrapper :is(.items-start) {
  align-items: flex-start
}

.pdp-description-wrapper :is(.items-center) {
  align-items: center
}

.pdp-description-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.pdp-description-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.pdp-description-wrapper :is(.justify-center) {
  justify-content: center
}

.pdp-description-wrapper :is(.gap-12) {
  gap: 3rem
}

.pdp-description-wrapper :is(.gap-4) {
  gap: 1rem
}

.pdp-description-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.pdp-description-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.pdp-description-wrapper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.pdp-description-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.pdp-description-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.pdp-description-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.pdp-description-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pdp-description-wrapper :is(.\!pb-6) {
  padding-bottom: 1.5rem !important
}

.pdp-description-wrapper :is(.pl-6) {
  padding-left: 1.5rem
}

.pdp-description-wrapper :is(.text-left) {
  text-align: left
}

.pdp-description-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.pdp-description-wrapper :is(.font-medium) {
  font-weight: 500
}

.pdp-description-wrapper :is(.font-semibold) {
  font-weight: 700
}

.pdp-description-wrapper :is(.font-dhlsMedium) {
  font-weight: 400
}

.pdp-description-wrapper :is(.leading-8) {
  line-height: 2rem
}

.pdp-description-wrapper :is(.leading-6) {
  line-height: 1.5rem
}

.pdp-description-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.pdp-description-wrapper :is(.text-gray-800) {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.pdp-description-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width: 768px) {
  .pdp-description-wrapper :is(.md\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .pdp-description-wrapper :is(.lg\:max-h-\[499px\]) {
    max-height: 499px
  }
}