.dhls-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 48px
}

.dhls-container .font-medium {
  font-weight: 400;
  font-family: TWK Lausanne EDS
}

.pdp-faqs-wrapper :is(.absolute) {
  position: absolute
}

.pdp-faqs-wrapper :is(.relative) {
  position: relative
}

.pdp-faqs-wrapper :is(.right-0) {
  right: 0px
}

.pdp-faqs-wrapper :is(.\!m-0) {
  margin: 0px !important
}

.pdp-faqs-wrapper :is(.my-0) {
  margin-top: 0px;
  margin-bottom: 0px
}

.pdp-faqs-wrapper :is(.\!mr-5) {
  margin-right: 1.25rem !important
}

.pdp-faqs-wrapper :is(.mr-12) {
  margin-right: 3rem
}

.pdp-faqs-wrapper :is(.mt-12) {
  margin-top: 3rem
}

.pdp-faqs-wrapper :is(.block) {
  display: block
}

.pdp-faqs-wrapper :is(.\!block) {
  display: block !important
}

.pdp-faqs-wrapper :is(.flex) {
  display: flex
}

.pdp-faqs-wrapper :is(.grid) {
  display: grid
}

.pdp-faqs-wrapper :is(.hidden) {
  display: none
}

.pdp-faqs-wrapper :is(.h-6) {
  height: 1.5rem
}

.pdp-faqs-wrapper :is(.w-6) {
  width: 1.5rem
}

.pdp-faqs-wrapper :is(.w-full) {
  width: 100%
}

.pdp-faqs-wrapper :is(.\!max-w-max) {
  max-width: -moz-max-content !important;
  max-width: max-content !important
}

.pdp-faqs-wrapper :is(.\!max-w-full) {
  max-width: 100% !important
}

.pdp-faqs-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.pdp-faqs-wrapper :is(.grid-rows-\[0fr\]) {
  grid-template-rows: 0fr
}

.pdp-faqs-wrapper :is(.flex-col) {
  flex-direction: column
}

.pdp-faqs-wrapper :is(.items-center) {
  align-items: center
}

.pdp-faqs-wrapper :is(.justify-between) {
  justify-content: space-between
}

.pdp-faqs-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.pdp-faqs-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.pdp-faqs-wrapper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.pdp-faqs-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.pdp-faqs-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.pdp-faqs-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.pdp-faqs-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.pdp-faqs-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.pdp-faqs-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pdp-faqs-wrapper :is(.\!pb-6) {
  padding-bottom: 1.5rem !important
}

.pdp-faqs-wrapper :is(.pt-2) {
  padding-top: 0.5rem
}

.pdp-faqs-wrapper :is(.text-left) {
  text-align: left
}

.pdp-faqs-wrapper :is(.\!text-xl) {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.pdp-faqs-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.pdp-faqs-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.pdp-faqs-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.pdp-faqs-wrapper :is(.font-extralight) {
  font-weight: 200
}

.pdp-faqs-wrapper :is(.font-medium) {
  font-weight: 500
}

.pdp-faqs-wrapper :is(.font-semibold) {
  font-weight: 700
}

.pdp-faqs-wrapper :is(.font-normal) {
  font-weight: 200
}

.pdp-faqs-wrapper :is(.font-dhlsMedium) {
  font-weight: 400
}

.pdp-faqs-wrapper :is(.\!font-dhlsMedium) {
  font-weight: 400 !important
}

.pdp-faqs-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.pdp-faqs-wrapper :is(.leading-8) {
  line-height: 2rem
}

.pdp-faqs-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.pdp-faqs-wrapper :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.pdp-faqs-wrapper :is(.opacity-0) {
  opacity: 0
}

.pdp-faqs-wrapper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.pdp-faqs-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.pdp-faqs-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.pdp-faqs-wrapper :is(.peer:checked ~ .peer-checked\:grid-rows-\[1fr\]) {
  grid-template-rows: 1fr
}

.pdp-faqs-wrapper :is(.peer:checked ~ .peer-checked\:py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.pdp-faqs-wrapper :is(.peer:checked ~ .peer-checked\:opacity-100) {
  opacity: 1
}

.pdp-faqs-wrapper :is(.peer ~ .peer-\[\&_span\.chevron-down\]\:opacity-0 span.chevron-down) {
  opacity: 0
}

.pdp-faqs-wrapper :is(.peer ~ .peer-\[\&_span\.chevron-up\]\:opacity-100 span.chevron-up) {
  opacity: 1
}

@media (min-width: 768px) {
  .pdp-faqs-wrapper :is(.md\:pt-0) {
    padding-top: 0px
  }
}

.pdp-faqs-wrapper :is(.peer:checked ~ .peer-checked\:\[\&_span\.chevron-down\]\:opacity-100 span.chevron-down) {
  opacity: 1
}

.pdp-faqs-wrapper :is(.peer:checked ~ .peer-checked\:\[\&_span\.chevron-up\]\:opacity-0 span.chevron-up) {
  opacity: 0
}

.pdp-faqs-wrapper :is(.\[\&_svg\>use\]\:stroke-gray-500 svg>use) {
  stroke: #6b7280
}