.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

@media (min-width: 1760px) {
  .container {
    max-width: 1760px
  }
}

.bg-danaherpurple-50 {
  background-color: #EADEFF
}

.dhls-container .font-medium {
  font-weight: 400;
  font-family: TWK Lausanne EDS
}

.pdp-hero-wrapper :is(.pointer-events-none) {
  pointer-events: none
}

.pdp-hero-wrapper :is(.absolute) {
  position: absolute
}

.pdp-hero-wrapper :is(.relative) {
  position: relative
}

.pdp-hero-wrapper :is(.left-0) {
  left: 0px
}

.pdp-hero-wrapper :is(.z-10) {
  z-index: 10
}

.pdp-hero-wrapper :is(.m-0) {
  margin: 0px
}

.pdp-hero-wrapper :is(.mb-1) {
  margin-bottom: 0.25rem
}

.pdp-hero-wrapper :is(.ml-1) {
  margin-left: 0.25rem
}

.pdp-hero-wrapper :is(.mt-\[-10px\]) {
  margin-top: -10px
}

.pdp-hero-wrapper :is(.mt-\[26px\]) {
  margin-top: 26px
}

.pdp-hero-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.pdp-hero-wrapper :is(.block) {
  display: block
}

.pdp-hero-wrapper :is(.flex) {
  display: flex
}

.pdp-hero-wrapper :is(.inline-flex) {
  display: inline-flex
}

.pdp-hero-wrapper :is(.hidden) {
  display: none
}

.pdp-hero-wrapper :is(.h-0) {
  height: 0px
}

.pdp-hero-wrapper :is(.h-12) {
  height: 3rem
}

.pdp-hero-wrapper :is(.h-4) {
  height: 1rem
}

.pdp-hero-wrapper :is(.h-5) {
  height: 1.25rem
}

.pdp-hero-wrapper :is(.h-6) {
  height: 1.5rem
}

.pdp-hero-wrapper :is(.h-9) {
  height: 2.25rem
}

.pdp-hero-wrapper :is(.h-\[0px\]) {
  height: 0px
}

.pdp-hero-wrapper :is(.h-\[1rem\]) {
  height: 1rem
}

.pdp-hero-wrapper :is(.w-12) {
  width: 3rem
}

.pdp-hero-wrapper :is(.w-14) {
  width: 3.5rem
}

.pdp-hero-wrapper :is(.w-20) {
  width: 5rem
}

.pdp-hero-wrapper :is(.w-28) {
  width: 7rem
}

.pdp-hero-wrapper :is(.w-4) {
  width: 1rem
}

.pdp-hero-wrapper :is(.w-5) {
  width: 1.25rem
}

.pdp-hero-wrapper :is(.w-56) {
  width: 14rem
}

.pdp-hero-wrapper :is(.w-6) {
  width: 1.5rem
}

.pdp-hero-wrapper :is(.w-9) {
  width: 2.25rem
}

.pdp-hero-wrapper :is(.w-\[190px\]) {
  width: 190px
}

.pdp-hero-wrapper :is(.w-full) {
  width: 100%
}

.pdp-hero-wrapper :is(.w-0) {
  width: 0px
}

.pdp-hero-wrapper :is(.flex-1) {
  flex: 1 1 0%
}

.pdp-hero-wrapper :is(.flex-grow-0) {
  flex-grow: 0
}

.pdp-hero-wrapper :is(.rotate-90) {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.pdp-hero-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.pdp-hero-wrapper :is(.flex-row-reverse) {
  flex-direction: row-reverse
}

.pdp-hero-wrapper :is(.flex-col) {
  flex-direction: column
}

.pdp-hero-wrapper :is(.flex-col-reverse) {
  flex-direction: column-reverse
}

.pdp-hero-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.pdp-hero-wrapper :is(.items-start) {
  align-items: flex-start
}

.pdp-hero-wrapper :is(.items-end) {
  align-items: flex-end
}

.pdp-hero-wrapper :is(.items-center) {
  align-items: center
}

.pdp-hero-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.pdp-hero-wrapper :is(.justify-center) {
  justify-content: center
}

.pdp-hero-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.pdp-hero-wrapper :is(.gap-2\.5) {
  gap: 0.625rem
}

.pdp-hero-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.pdp-hero-wrapper :is(.gap-4) {
  gap: 1rem
}

.pdp-hero-wrapper :is(.gap-5) {
  gap: 1.25rem
}

.pdp-hero-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.pdp-hero-wrapper :is(.gap-9) {
  gap: 2.25rem
}

.pdp-hero-wrapper :is(.self-stretch) {
  align-self: stretch
}

.pdp-hero-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.pdp-hero-wrapper :is(.rounded-\[20px\]) {
  border-radius: 20px
}

.pdp-hero-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.pdp-hero-wrapper :is(.border) {
  border-width: 1px
}

.pdp-hero-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.pdp-hero-wrapper :is(.border-t) {
  border-top-width: 1px
}

.pdp-hero-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.pdp-hero-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.bg-danaherpurple-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.fill-current) {
  fill: currentColor
}

.pdp-hero-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.pdp-hero-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.pdp-hero-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.pdp-hero-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pdp-hero-wrapper :is(.py-1\.5) {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.pdp-hero-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.pdp-hero-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pdp-hero-wrapper :is(.text-center) {
  text-align: center
}

.pdp-hero-wrapper :is(.text-right) {
  text-align: right
}

.pdp-hero-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.pdp-hero-wrapper :is(.text-4xl) {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.pdp-hero-wrapper :is(.text-\[18px\]) {
  font-size: 18px
}

.pdp-hero-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.pdp-hero-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.pdp-hero-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.pdp-hero-wrapper :is(.font-bold) {
  font-weight: 700
}

.pdp-hero-wrapper :is(.font-extralight) {
  font-weight: 200
}

.pdp-hero-wrapper :is(.font-medium) {
  font-weight: 500
}

.pdp-hero-wrapper :is(.font-normal) {
  font-weight: 200
}

.pdp-hero-wrapper :is(.font-semibold) {
  font-weight: 700
}

.pdp-hero-wrapper :is(.lowercase) {
  text-transform: lowercase
}

.pdp-hero-wrapper :is(.italic) {
  font-style: italic
}

.pdp-hero-wrapper :is(.leading-\[48px\]) {
  line-height: 48px
}

.pdp-hero-wrapper :is(.leading-normal) {
  line-height: 1.5
}

.pdp-hero-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.pdp-hero-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.pdp-hero-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.pdp-hero-wrapper :is(.text-danaherpurple-800) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity))
}

.pdp-hero-wrapper :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.pdp-hero-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.pdp-hero-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.pdp-hero-wrapper :is(.opacity-50) {
  opacity: 0.5
}

.pdp-hero-wrapper :is(.shadow-sm) {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.pdp-hero-wrapper :is(.shadow) {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.pdp-hero-wrapper :is(.outline) {
  outline-style: solid
}

.pdp-hero-wrapper :is(.outline-1) {
  outline-width: 1px
}

.pdp-hero-wrapper :is(.outline-offset-\[-0\.50px\]) {
  outline-offset: -0.50px
}

.pdp-hero-wrapper :is(.outline-offset-\[-1px\]) {
  outline-offset: -1px
}

.pdp-hero-wrapper :is(.outline-\[\#7523FF\]) {
  outline-color: #7523FF
}

.pdp-hero-wrapper :is(.outline-gray-300) {
  outline-color: #d1d5db
}

.pdp-hero-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.hover\:bg-danaherpurple-50:hover {
  background-color: #EADEFF
}

.pdp-hero-wrapper :is(.hover\:bg-danaherpurple-50:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.hover\:bg-danaherpurple-500:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.hover\:bg-danaherpurple-800:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.pdp-hero-wrapper :is(.hover\:text-danaherpurple-800:hover) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity))
}

.pdp-hero-wrapper :is(.hover\:text-white:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .pdp-hero-wrapper :is(.md\:block) {
    display: block
  }

  .pdp-hero-wrapper :is(.md\:flex) {
    display: flex
  }

  .pdp-hero-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .pdp-hero-wrapper :is(.md\:flex-row-reverse) {
    flex-direction: row-reverse
  }

  .pdp-hero-wrapper :is(.md\:items-end) {
    align-items: flex-end
  }
}

.pdp-hero-wrapper :is(.\[\&\:\:-webkit-inner-spin-button\]\:mr-2)::-webkit-inner-spin-button {
  margin-right: 0.5rem
}

.pdp-hero-wrapper :is(.\[\&_svg\>use\]\:stroke-black svg>use) {
  stroke: #000
}

.pdp-hero-wrapper :is(.\[\&_svg\>use\]\:stroke-danaherpurple-500 svg>use) {
  stroke: #7523FF
}

.pdp-hero-wrapper :is(.\[\&_svg\>use\]\:stroke-gray-500 svg>use) {
  stroke: #6b7280
}

.pdp-hero-wrapper :is(.\[\&_svg\>use\]\:hover\:stroke-danaherpurple-800:hover svg>use) {
  stroke: #4000A5
}

.pdp-hero-wrapper :is(.group:hover .group-hover\:\[\&_svg\>use\]\:stroke-danaherpurple-800 svg>use) {
  stroke: #4000A5
}

.pdp-hero-wrapper :is(.group:hover .group-hover\:\[\&_svg\>use\]\:stroke-gray-800 svg>use) {
  stroke: #1f2937
}