.bg-danaherpurple-50 {
  background-color: #EADEFF
}

.download-in-column-wrapper :is(.\!mb-0) {
  margin-bottom: 0px !important
}

.download-in-column-wrapper :is(.\!mt-0) {
  margin-top: 0px !important
}

.download-in-column-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.download-in-column-wrapper :is(.block) {
  display: block
}

.download-in-column-wrapper :is(.flex) {
  display: flex
}

.download-in-column-wrapper :is(.aspect-video) {
  aspect-ratio: 16 / 9
}

.download-in-column-wrapper :is(.h-64) {
  height: 16rem
}

.download-in-column-wrapper :is(.w-64) {
  width: 16rem
}

.download-in-column-wrapper :is(.w-full) {
  width: 100%
}

.download-in-column-wrapper :is(.shrink-0) {
  flex-shrink: 0
}

.download-in-column-wrapper :is(.flex-col) {
  flex-direction: column
}

.download-in-column-wrapper :is(.items-start) {
  align-items: flex-start
}

.download-in-column-wrapper :is(.gap-5) {
  gap: 1.25rem
}

.download-in-column-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.download-in-column-wrapper :is(.gap-y-4) {
  row-gap: 1rem
}

.download-in-column-wrapper :is(.space-x-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.download-in-column-wrapper :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.download-in-column-wrapper :is(.divide-y > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.download-in-column-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.download-in-column-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.download-in-column-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.download-in-column-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.download-in-column-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.download-in-column-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.download-in-column-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.download-in-column-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.download-in-column-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.download-in-column-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.download-in-column-wrapper :is(.xl\:w-2\/3) {
  width: 66.666667%
}

.download-in-column-wrapper .card-body.w-full h2 {
    margin-bottom: 0.5rem;
    display: inline-flex;
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
}

.download-in-column-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.download-in-column-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.download-in-column-wrapper :is(.font-sans) {
  font-family: TWK Lausanne, TWK Lausanne EDS, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.download-in-column-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.download-in-column-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.download-in-column-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.download-in-column-wrapper :is(.font-semibold) {
  font-weight: 700
}

.download-in-column-wrapper :is(.tracking-tight) {
  letter-spacing: -0.025em
}

.download-in-column-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.download-in-column-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.download-in-column-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.download-in-column-wrapper :is(.\!no-underline) {
  text-decoration-line: none !important
}

@media (min-width: 768px) {
  .download-in-column-wrapper :is(.md\:mb-0) {
    margin-bottom: 0px
  }

  .download-in-column-wrapper :is(.md\:h-36) {
    height: 9rem
  }

  .download-in-column-wrapper :is(.md\:w-52) {
    width: 13rem
  }

  .download-in-column-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .download-in-column-wrapper :is(.md\:items-center) {
    align-items: center
  }
}